<form action="/cats" method="POST">
  <label for="cat-name"></label>
  <input type="text" name="cat" id="cat-name" />
  <input type="submit" value="create"/>
</form>

<ul>
  <li>Navcho</li>
  <li>Garry</li>
  <li>Tsutsulan</li>
</ul>